body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-background: #424242;

  /* Home Page */
  --color-fonts-title: #303030;

  /* Navbar */
  --color-background-navbar: #303030;
  --color-text-navbar: white;
  --color-icon-navbar: white;
  --color-divider-navbar: #909090;

  /* TopBar */
  --margin-top-navbar: 80px;
  --padding-topbar: 0px 20px;

  --color-background-topbar: #252525;
  --color-font-topbar: white;

  /* WifiForm */
  --color-scanbutton-wifiform: #454545;
  --color-networkname-wifiform: #252525;
  --color-idchn-wifiform: #353535;
  --color-elements-background: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
